{% extends 'base.html' %}
{% block content %}

<div class="detail">
    <h1 id="detail-header">{{ campsite.name }} Details</h1>

    <div class="row">
        <div class="campsite-info">
            {% comment %} <div class="photo">
                {% for photo in campsite.photo_set.all %}
                    <img class="responsive-img card-panel" src="{{photo.url}}">
                {% empty %}
                    <div class="card-panel center-align">No Photos Uploaded</div>
                {% endfor %}
                <form action="{% url 'add_photo' campsite.id %}" enctype="multipart/form-data" method="POST" class="card-panel">
                    {% csrf_token %}
                    <input type="file" name="photo-file">
                    <br><br>
                    <button type="submit" class="btn">Upload Photo</button>
                </form>
            </div> {% endcomment %}
            <div class="card" id="detail-card">
                <p>{{ campsite.location }}</p>
                <p>{{ campsite.description }}</p>
                <a class="btn" href="{% url 'campsites_update' campsite.id %}">Edit</a>
                <a class="btn" href="{% url 'campsites_delete' campsite.id %}">Delete</a>
            </div>
        </div>
        <div class="trail">
            {% for trail in campsite.trail_set.all %}
                <p>{{ trail.name }} | {{ trail.length }}</p>
                <p>{{ trail.description }}</p>
            {% endfor %}
            <form action="{% url 'add_trail' campsite.id %}" method="POST">
                {% csrf_token %}
                {{ trail_form.as_p }}
                <input type="submit" class="btn" value="Add a Trail">
            </form>
        </div>
        {% comment %} <a href="{% url 'add_amenitity' campsite.id %}">Add Amenity</a> {% endcomment %}

    </div>
    <div class="amenities">
      <h3>Amenities</h3>
      {% if campsite.amenities.count %}
        {% for amenity in campsite.amenities.all %}
            <span>{{ amenity.name }}
                <form action="{% url 'remove_amenity' campsite.id amenity.id %}" method="POST" style="display:inline-block">
                    {% csrf_token %}
                    <button type="submit">x</button>
                </form>
            </span>
        {% endfor %}
      {% else %}
        <h5>No Amenities</h5>
      {% endif %}
    </div>
    <div class="add-amenities">
        <h3>Add Amenities</h3>
        {% if amenities.count %}
          {% for amenity in amenities.all %}
            <span class="amenity-btn">{{ amenity.name }}
                <form action="{% url 'add_amenity' campsite.id amenity.id %}" method="POST" style="display:inline-block">
                    {% csrf_token %}
                    <button type="submit">+</button>
                </form>
            </span>
          {% endfor %}
        {% else %}
          <h5>{{campsite.name}} Already Has All Available Amenities</h5>
        {% endif %}
        
    </div>
</div>
{% endblock %}