{% extends 'base.html' %}
{% block content %}

{% load static %}

<div id="index">
    <img id="index-image" src="{% static 'images/mattias-helge-CAk3Rl75CD8-unsplash.jpg' %}" alt="tent in a field" style="height: 100%; width: 100%;" >

    <div class="text">
        <h1>My Campsites</h1>

        {% for campsite in campsites %}
            <a href="{% url 'detail' campsite.id %}">
                <div class="card" id="index-card">
                    <p id="index-photo">
                        {% for photo in campsite.photo_set.all %}
                            <img src="{{photo.url}}">
                        {% empty %}
                            <div>No Photos Uploaded</div>
                        {% endfor %}
                    </p>
                    <p><span class="card-title">{{ campsite.name }}</span> | {{ campsite.location }}</p>
                    <p class="description">{{ campsite.description }}</p>
                </div>
            </a>
        {% endfor %}
    </div>

</div>

{% endblock %}