{% extends 'base.html' %}
{% block content %}

{% load static %}

<div id="index">
    <div class="text">
        <h1>My Campsites</h1>

        {% for campsite in campsites %}
            <a href="{% url 'detail' campsite.id %}">
                <div class="card" id="index-card">
                    <p>
                        {% for photo in campsite.photo_set.all %}
                            <img id="index-photo" src="{{photo.url}}">
                        {% empty %}
                            <img id="placeholder-photo" src="{% static 'images/take-more-photos.png' %}" style="width:12rem; height:10rem;">
                        {% endfor %}
                    </p>
                    <div class="card-text">
                        <p><span class="card-title">{{ campsite.name }}</span> | {{ campsite.location }}</p>
                        <p class="description">{{ campsite.description }}</p>
                    </div>
                </div>
            </a>
        {% empty %}
            <p id="no-campsites">You have no campsites.</p>
        {% endfor %}
        <a id="add-campsite" href="{% url 'campsites_create' %}">+ Add</a>
    </div>

</div>

{% endblock %}