{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nature Notes</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Khula:wght@400;600;700&family=Montserrat+Subrayada&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
</head>
<body>
    <main>
        <div class="container">
            <div>                
                <aside class="sidebar">
                    <div><a href="{% url 'about' %}">About</a></div>
                    {% if user.is_authenticated %}
                        <div><a href="{% url 'index' %}">My Campsites</a></div>
                        <div><a href="{% url 'campsites_create' %}">Add a Campsite</a></div>
                        <div><a href="{% url 'amenities_index' %}">All Amenities</a></div>
                    {% endif %}
                    {% if not user.is_authenticated %}
                        <div class="btn"><a href="{% url 'signup' %}">Sign Up</a></div>
                        <div class="login"><a href="{% url 'login' %}">Log In</a></div>
                    {% else %}
                        <div class="login"><a href="{% url 'logout' %}">Log Out</a></div>
                    {% endif %}
                </aside>
            </div> 
            <div>
                <h1 id="title-logo" class="logo"><a href="{% url 'home' %}">NatureNotes</a></h1>
                <label class="hamburger-menu">
                    <input type="checkbox">
                </label>
            </div>
        </div>
       {% block content %}
       {% endblock %}
    </main>
    <footer id="footer">Created by ACS Designs 2023</footer>
</body>
</html>