{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nature Notes</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Khula:wght@400;600;700&family=Montserrat+Subrayada&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
</head>
<body>
    <header>
        <nav>
            <ul id="header">
                <li class="unfold">Hamburger Menu</li>
                    <ul>
                        <li><a href="{% url 'about' %}">About</a></li>
                        {% if user.is_authenticated %}
                        <li class="unfold"><a href="/campsites">Campsites</a></li>
                            <ul>
                                <li><a href="{% url 'index' %}">My Campsites</a></li>
                                <li><a href="{% url 'campsites_create' %}">Add a Campsite</a></li>
                            </ul>
                        <li class="unfold"><a href="/amenities">Amenities</a></li>
                            <ul>
                                <li><a href="{% url 'amenities_index' %}">All Amenities</a></li>
                                <li><a href="{% url 'amenities_create' %}">Add an Amenity</a></li>
                            </ul>
                        {% endif %}
                    </ul>
                <li id="title-logo"><a href="{% url 'home' %}">NatureNotes</a></li>
            {% if not user.is_authenticated %}
                <li class="btn"><a href="{% url 'signup' %}">Sign Up</a></li>
                <li class="login"><a href="{% url 'login' %}">Log In</a></li>
            {% else %}
                <li class="login"><a href="{% url 'logout' %}">Log Out</a></li>
            {% endif %}
            </ul>
        </nav>
    </header>
    <main>
        {% block content %}
        {% endblock %}
    </main>
    <footer>Created by ACS Designs 2023</footer>
</body>
</html>