body {
    height: 100vh;
    color: #575757;
    font-family: 'Khula', sans-serif;
    margin: 0;
    font-size: 1rem;
}

a, a:visited {
    text-decoration: none;
    color: #575757;
}

a:hover, .btn:hover, .login:hover {
    cursor: pointer;
    text-decoration: underline;
}

ul {
    list-style-type: none;
}

#header {
    display: flex;
    justify-content: space-around;
}

#title-logo {
    font-size: 3rem;
    text-decoration: none !important;
}

.btn, .login, .btn:visited, .login:visited {
    border-radius: 20%;
    color: white;
    font-family: 'Khula', sans-serif;
    padding: 0.5rem;
    border: none;
    width: fit-content;
    height: fit-content;
}

.btn {
    background-color: #47C67A;
}

.login {
    background-color: #BDD6EB;
}

.detail {
    background-color: #BDD6EB;
    margin: 1rem 0 3rem 0;
    padding: 1rem 3rem 3rem 3rem;
}

#home-page, #index {
    position: relative;
}

.home-btn {
    position: absolute;
    text-align: center;
    color: #575757;
    left: 50%;
    font-weight: lighter;
    top: 57%;
    transform: translate(-50%, -50%);
    width: fit-content;
    height: fit-content;
    font-size: 1.5rem;
}

#footer {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    font-size: 12px;
    background-color: #47C67A;
    color: white;
    margin-top: 1rem;
}

#about {
    text-align: center;
    margin: 5rem 5rem 0 5rem;
    padding: 1rem;
}

#about > h3, #about > p {
    padding: 1rem;
    margin: 1rem 2rem;
    font-size: 1.25rem;
}

#about > h3 {
    font-size: 1.75rem;
    color: #47C67A;
}

.logo  {
    font-family: 'Montserrat Subrayada', sans-serif;
}

.text {
    position: absolute;
    text-align: center;
    left: 50%;
    top: 40%;
    transform: translate(-50%, -50%);
}

.card {
    background-color: #BDD6EB;
    border-radius: 20%;
    width: fit-content;
    height: fit-content;
    text-align: left;
    padding: 1rem;
}

.card-title {
    font-weight: bolder;
}

.description {
    font-size: 0.75rem;
}

#login-form, #signup-form {
    margin: 2rem;
    padding: 1rem;
    text-align: center;
}

#signup-form p {
    text-align: left;
    margin-left: 32%;
}

.helptext {
    visibility: hidden;
}

#signup-form ul li {
    visibility: hidden;
}

.photo {
    border-radius: 20%;
}